{% extends 'base.html' %}
{% block content %}
    <div class="container mt-4">
        <h3 class="font-weight-light mb-2">Deploy:</h3>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card" style="height: 195px;">
                    <div class="card-body">
                    <h6 class="card-title">Simple Ganga Job</h6>
                    <hr class="my-1">
                    <p class="card-text" style="height: 72px;">Description: Deploy a simple Ganga job to sleep for 60 seconds.</p>
                    <a href="{{ url_for('deploy_sleep') }}" class="btn btn-sm btn-block btn-primary">Deploy</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card" style="height: 195px;">
                    <div class="card-body">
                    <h6 class="card-title">15 Test Jobs</h6>
                    <hr class="my-1">
                    <p class="card-text" style="height: 72px;">Description: Deploy 15 Ganga job to sleep at different intervals (15s, 30s, 45s, 60s...)</p>
                    <a href="{{ url_for('deploy_test_jobs') }}" class="btn btn-sm btn-block btn-primary">Deploy</a>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="font-weight-light mb-2">Templates:</h3>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                    <h6 class="card-title">Sample Template Name</h6>
                    <hr class="my-1">
                    <p class="card-text" style="height: 72px;">Description: This is how a sample template card might look.</p>
                    <a href="#" class="btn btn-sm btn-block btn-primary">Create</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4" >
                <div class="card" >
                    <div class="card-body" style="height: 195px; display: flex; align-items: center;">
                    <a href="#" class="btn btn-lg btn-block btn-link">Create Template</a>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="text-left font-weight-light mb-2">Saved Jobs (Database):</h3>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                    <h6 class="card-title">Sample Saved Job 1</h6>
                    <hr class="my-1">
                    <p class="card-text" style="height: 72px;">Description: This is how a sample saved job card might look.</p>
                    <a href="#" class="btn btn-sm btn-block btn-primary">Create</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                    <h6 class="card-title">Sample Saved Job 2</h6>
                    <hr class="my-1">
                    <p class="card-text" style="height: 72px;">Description: This is how a sample saved job card might look.</p>
                    <a href="#" class="btn btn-sm btn-block btn-primary">Create</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                    <h6 class="card-title">Sample Saved Job 3</h6>
                    <hr class="my-1">
                    <p class="card-text" style="height: 72px;">Description: This is how a sample saved job card might look.</p>
                    <a href="#" class="btn btn-sm btn-block btn-primary">Create</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}